:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.Nbar{
  display: flex;
  align-items: center;
  margin-right: 30px;
  justify-content: center;
}
.link{
  display: flex;
  margin-right: 80px;
}
.pnav{
  margin-left: 10px;
  margin-right: 10px;
}
.hnav{
  margin-right: 250px;
}
.bnav{
  background-color: #86CAE5;
  border-radius: 30px;
  width: 95px;
  height: 60px;
}


.secao1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  min-width: 500px;
  background-color:#C3E3F0;
  margin-left: 10%;
}
.textosecao1{
  max-width: 600px;
  margin-bottom: 30px;
}